$primary-color: rgba(144, 55, 73, 1);

.upcoming-events {
  border: 2px solid rgb(201, 201, 201);
  border-radius: 10px;
  padding: 18px;
  width: 400px;
  max-height: 720px;
}
.upcoming-box,
.filtered-days {
  display: block;
  .cards {
    display: flex;
    a {
      width: 100%;
      :hover {
        color: $primary-color;
      }
    }
  }
}
.date-box {
  display: flex;
  align-items: center;
  .day {
    font-size: 40px;
    font-weight: 700;
    margin-right: 6px;
  }
  div {
    font-size: 15px;
  }
}

.nlc {
  margin-left: 15px;
  .faint {
    color: rgb(151, 151, 151);
    font-size: 10px;
    width: 75px;
    div {
      span {
        font-size: 16px;
      }
    }
  }
  span.faint {
    font-size: 16px;
  }
}
.mini-img {
  height: 66px;
  width: 66px;
  padding-left: auto;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.box {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.past-event {
  background-color: $primary-color;
  color: $primary-color;
}
