$font-logo: "Kanit", sans-serif;
$font-nav: "Source Sans Pro", sans-serif;

$button-font-size: 12px;
$logo-font-size: 3em;

$primary-color: #2b2e4a;
$secondary-color: #e84545;
$tertiary-color: #903749;
$quaternary-color: #53354a;
$logo-color: #573a44;

$bg-hover-color: white;
$background-gradient: linear-gradient(
  120deg,
  rgba(43, 46, 74, 1) 0%,
  rgba(232, 69, 69, 1) 45%,
  rgba(144, 55, 73, 1) 75%,
  rgba(83, 53, 74, 1) 100%
);

.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  background: $background-gradient;
  top: 0px;
  z-index: 2;
  font-size: $button-font-size;
  width: 100%;
  line-height: 65px;
  letter-spacing: 1px;
  font-family: $font-nav;
  font-weight: 600;
}
.navbar-comp {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  align-items: center;
}
.category-buttons {
  line-height: 65px;
  display: flex;
}

.navbar-button {
  font-size: 1.5em;
  font: $font-nav;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}
.logo {
  letter-spacing: -2.2px;
  margin-right: 10px;
  font: $font-logo;
  font-size: $logo-font-size;
  font-style: italic;
}
.logo > span {
  color: $logo-color;
}
.navbar-button:hover:not(.logo) {
  color: $primary-color;
  background-color: $bg-hover-color;
}
.logo:hover {
  color: $logo-color;
}
