$font-nav: "Source Sans Pro", sans-serif;

body {
  font-family: $font-nav;
  margin: 0;
  background-color: #ffeeee;
}
a {
  text-decoration: none;
  color: black;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pages {
  margin-top: 30px;
  padding: 15px;
  background-color: white;
  width: 1000px;
  border-radius: 10px;
}
